
.identicon {
    border-radius: 20%;
    border: white 2px solid;
    padding: 5px;
}

.md {
    font-size: 1.1em;
    color: #000046;
}

.md-v {
    color: #000046;
    font-size: 2em;
}

.v-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    color: #000046;
    font-weight: 600;
}

.center {
    text-align: center;
}

.sort {
    background: linear-gradient(to right,#000046, #1CB5E0);
    color: white;
    padding: 25px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: 0.5s;
}

.file-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.part-top {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary:hover {
    cursor: pointer;
    color: #1CB5E0;
}

.primary {
    color: #000046;
    transition: 0.5s;
}
.trash-b:hover {
    cursor: pointer;
    color: #1CB5E0;
}
.trash-b {
    color: #d80000;
    transition: 0.5s;
}
.share-b:hover {
    cursor: pointer;
    color: #000046;
}
.share-b {
    color: #1CB5E0;
    transition: 0.5s;
}
.part-bottom {
    height: 5%;
    margin: 20px;
    width: 100%;
}

.w-sm {
    width: 10%;
}

.sticker {
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000046;
    color: white;
    width: max-content;
    height: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.j-center {
    justify-content: center;
}

.a-input {
    width: 100%;
    height: 20px;
    border: 2px solid #000046;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.head-con {
    font-size: 1.5em;
    font-weight: 600;
    color: #000046;
}

.s-btn {
    background-color: #000046;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.s-btn:hover {
    cursor: pointer;
}

.c-btn {
    border: 1px solid #000046;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
}

.c-btn:hover {
    cursor: pointer;
}

.share-to {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 200px;
    width: 400px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.share-form {
    text-align: center;
    width: 100%;
}
.add-to-network {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 300px;
    width: 400px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.add-form {
    text-align: center;
    width: 100%;
}

.w-lg {
    width: 60%;
    font-weight: 600;
    color: #000046;
}

.center {
    text-align: center;
}

.file-icon {
    font-size: 7em;
    color: #000046;
}

.sort:hover {
    opacity: 0.8;
    cursor: pointer;
}

.ml-2 {
    margin-right: 0px;
}

.search {
    border: none;
    padding: 10px;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    border: rgba(77, 1, 180, 1) solid 2px;
    color: rgb(125, 125, 125);
}

.bar {
    width: 100%;
    height: 20px;
    /*background-color: #000046;*/
    background: linear-gradient(to right,#000046, #1CB5E0);
}

.mainholder {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.home {
    width: 100%;
    height: 100vh;
    /*background-color: #000046;*/
    background: linear-gradient(to right,#000046, #1CB5E0);
}

.title {
    font-size: 9em;
    font-weight: 700;
    color: #fff;
}
.title-register {
    font-size: 7em;
    font-weight: 200;
    color: #ffffff;
    justify-content: top;
    align-items: top;
    margin-top: 0px;
}

.sm {
    font-size: 0.5em;
    background-color: #000000;
    padding: 10px;
}

.sub-text {
    font-size: 2em;
    color: white;
    font-weight: 200;
}

.login-btn {
    margin-top: 30px;
    border: none;
    padding: 20px;
    background-color: white;
    color: #000046;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.5s;
}

.login-btn:hover {
    cursor: pointer;
    background: linear-gradient(to right,#000046, #1CB5E0);
    color: white;
    border: 1px solid white;
}

.footer {
    
    background: linear-gradient(to right,#000046, #1CB5E0);
    color: white;
    position: fixed;
    bottom: 0;
    height: 40px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hover:hover {
    opacity: 0.8;
    cursor: pointer;
}

.flex {
    display: flex;
    flex-direction: row;
}

.light-primary {
    font-size: 10em;
}

.no-files {
    width: 100%;
    color: #000046;
    opacity: 0.4;
}

.small-font {
    font-size: 1.5em !important;
}

.cancel {
    transition: 0.4s;
    background: linear-gradient(to right,#e52d27, #b31217);
    color: white;
    padding: 3.5px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 4.5%;
    bottom: 17%;
    font-size: 0.7em;
    border-radius: 10px;
}

.cancel-icon {
    font-size: 1.3em;
    margin-right: 5px;
}

.usdb-logo {
  height: 50px;
  width: 50px;
  

}
.ifeg-logo {
  height: 50px;
  width: 150px;



}